In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2022-03-24 23:29:19,65.6145,-37.6368,21.36,59,97,5.84
1,1,Kruisfontein,ZA,2022-03-24 23:29:19,-34.0033,24.7314,61.88,87,32,11.45
2,2,Byron Bay,AU,2022-03-24 23:29:20,-28.6500,153.6167,75.94,83,51,8.57
3,3,Geraldton,AU,2022-03-24 23:27:22,-28.7667,114.6000,86.41,25,73,20.71
4,4,Carnarvon,AU,2022-03-24 23:29:21,-24.8667,113.6333,78.87,65,85,0.00

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
## Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
## Heatmap of temperature using list comprehension
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer =  heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Byron Bay,AU,2022-03-24 23:29:20,-28.6500,153.6167,75.94,83,51,8.57
3,3,Geraldton,AU,2022-03-24 23:27:22,-28.7667,114.6000,86.41,25,73,20.71
4,4,Carnarvon,AU,2022-03-24 23:29:21,-24.8667,113.6333,78.87,65,85,0.00
8,8,Bubaque,GW,2022-03-24 23:29:22,11.2833,-15.8333,75.74,71,4,16.51
9,9,Rikitea,PF,2022-03-24 23:29:23,-23.1203,-134.9692,79.90,70,100,13.67
12,12,San Fernando,PH,2022-03-24 23:29:25,15.0286,120.6898,79.21,74,15,3.98
17,17,Hilo,US,2022-03-24 23:29:26,19.7297,-155.0900,80.33,69,40,12.66
22,22,Ahuimanu,US,2022-03-24 23:29:29,21.4447,-157.8378,82.11,58,0,20.71
23,23,Coahuayana,MX,2022-03-24 23:29:29,18.7333,-103.6833,83.23,40,0,6.26
34,34,Pedro Carbo,EC,2022-03-24 23:29:34,-1.8333,-80.2333,78.75,90,90,2.13

In [16]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2      Byron Bay      AU     75.94 -28.6500  153.6167
3      Geraldton      AU     86.41 -28.7667  114.6000
4      Carnarvon      AU     78.87 -24.8667  113.6333
8        Bubaque      GW     75.74  11.2833  -15.8333
9        Rikitea      PF     79.90 -23.1203 -134.9692
12  San Fernando      PH     79.21  15.0286  120.6898
17          Hilo      US     80.33  19.7297 -155.0900
22      Ahuimanu      US     82.11  21.4447 -157.8378
23    Coahuayana      MX     83.23  18.7333 -103.6833
34   Pedro Carbo      EC     78.75  -1.8333  -80.2333

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Byron Bay,AU,75.94,-28.6500,153.6167,Backpackers Inn
3,Geraldton,AU,86.41,-28.7667,114.6000,Broadwater Mariner Resort
4,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
8,Bubaque,GW,75.74,11.2833,-15.8333,"Casa Dora, Bubaque"
9,Rikitea,PF,79.90,-23.1203,-134.9692,People ThankYou
12,San Fernando,PH,79.21,15.0286,120.6898,Maharlika Hostel
17,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
22,Ahuimanu,US,82.11,21.4447,-157.8378,Paradise Bay Resort
23,Coahuayana,MX,83.23,18.7333,-103.6833,El rranchito michuacan de ocampos
34,Pedro Carbo,EC,78.75,-1.8333,-80.2333,Centro turístico y hostería oasis pedro carbo

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))